<div class="row">
  <div class="col-8">
    <h2 class="sub-header">ClientTable</h2>
    <div class="table-responsive">
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phones</th>
              <th scope="col">Address</th>
              <th scope="col">AddedOn</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clientList">
              <th scope="row"><a [routerLink]="['interactions/client/', client.id]">{{client.name}}</a></th>
              <td>{{client.email}}</td>
              <td>{{client.phones}}</td>
              <td>{{client.address}}</td>
              <td>{{client.addedOn}}</td>
              <td><a class="btn btn-primary" [routerLink]="['client/', client.id]" role="button">Update</a></td>
              <td><a class="btn btn-danger" (click)="deleteClient(client.id)" role="button">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row justify-content-center">
      <a class="btn btn-primary" [routerLink]="['client']" role="button">Add New Client</a>
    </div>
  </div>
  <div class="col-4">
    <h2 class="sub-header">EmployeeTable</h2>
    <div class="table-responsive">
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Designation</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employeeList">
              <th scope="row"><a [routerLink]="['interactions/employee/', employee.id]">{{employee.name}}</a></th>
              <td>{{employee.designation}}</td>
              <td><a class="btn btn-primary" [routerLink]="['employee/', employee.id]" role="button">Update</a></td>
              <td><a class="btn btn-danger" (click)="deleteEmployee(employee.id)" role="button">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row justify-content-center">
      <a class="btn btn-primary" [routerLink]="['employee']" role="button">Add New Employee</a>
    </div>
  </div>
</div>
<br>
<div class="row justify-content-center">
  <a class="btn btn-primary mr-2" [routerLink]="['addInteractions']" role="button">Add New Interaction</a>
  <a class="btn btn-primary" [routerLink]="['interactions']" role="button">View All Interactions</a>
</div>